@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/* ========== Some variables ========== */
:root {
    --color-white: #ffffff;
    --color-blue:  #68943a;
    --color-black: #000000;
    font-size: 13px;
}

/* 
 *      ========== GLOBALS ========== 
 */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    color: var(--color-blue);
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

p {
    margin: 0.25rem 0;
}

.container {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
}


/**
 *      ========== HEADER ==========
 */

 header {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 101;
}

.header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header .logo {
    margin: 0;
    padding: 0.5rem;
}

.header ul {
    margin: 0;
    padding: 0;
    z-index: 100;
    display: flex;
}

.header ul li {
    list-style: none;
    margin: 0 10px;
}

.header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: var(--color-blue);
    font-weight: 700;
    margin: 0;
    padding: 5px 5px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

.header ul li a.active,
.header ul li a:hover {
    border-width: 2px;
    border-style: solid none;
    border-color: var(--color-blue);
}

.toggle-button,
.close-button {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 1.5rem;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background: var(--color-blue);
}

.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
}

.close-button__icon {
    color: var(--color-blue);
    font-size: 45px;
    font-weight: bolder;
}

/**
 *      ========== MAIN CONTENTS ==========
 */

#henkilot, #palvelut, #laatu, #referenssit, #vuokraus {
    padding: 2rem 0;
}

.title {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    color: var(--color-blue);
    font-size: 3.25rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.title::after {
    content: '';
    background: var(--color-blue);
    height: 2px;
    width: 100px;
    margin: 1.125rem auto 1.125rem;
    display: block;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.875rem;
    max-width: 700px;
    margin: 0 auto;
}

/**
 *      ========== HENKILÃ–T ==========
 */

.henkilot {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.staffmember {
    flex: 0 0 33.333%;
    width: 33.333%;
    position: relative;
    padding: 0 .25rem;
    text-align: center;
    max-width: 275px;
    margin: 2rem 1.5rem;
    line-height: 1.4;
}

.staffmember .img-box {
    height: 300px;
    position: relative;
}

.staffmember .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.staffmember h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0.375rem 0 0.25rem;
    /* margin: 0; */
}

.staffmember h3 {
    font-size: 1.25rem;
    font-weight: bold;
    /* margin-top: 5px; */
    margin: 0;
    margin-bottom: 0.25rem;
}

.staffmember ul {
    padding: 0;
    margin: 0;
    /* margin-top: 5px; */
}

.staffmember ul li {
    font-size: 1.125rem;
    list-style: none;
    opacity: 0.7;
    /* color: #6c757d; */
}


/**
 *      ========== PALVELUT ==========
 */

.palvelut {
    margin-top: 2rem;
    width: 100%;
    color: var(--color-blue);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.palvelu {
    position: relative;
    padding: 1.25rem;
    flex: 0 0 33.333%;
    width: 33.333%;
    display: flex;
    flex-direction: column;
}

.palvelu p {
    text-align: justify;
}

.palvelu h4 {
    margin-top: 0.5rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.palvelu-img {
    position: relative;
    height: 250px;
}

.palvelu-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/**
 *      ========== VUOKRATTAVAT TILAT ==========
 */
.rent_space {
}

.rent_space__images {
    padding: 2rem 0; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.rent_space__image_wrapper {
    position: relative; 
    height: 225px;
    overflow: hidden;
}

.rent_space__image {
    transition: transform 300ms;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.rent_space__image_wrapper:hover .rent_space__image {
    transform: scale(1.25);
}


/**
 *      ========== REFERENSSIT ==========
 */

#referenssit .container {
    max-width: 1000px;
}

.referenssit li a {
    text-decoration: underline;
    font-weight: 600;
}

.referenssit li a:hover {
    cursor: pointer;
}

.referenssit li {
    margin-left: 2rem;
}

.reference-list {
    margin-top: 2rem;
    width: 100%;
    border-collapse: border;
    border: 1px solid #dee2e6;
    border-spacing: 0;
    color: var(--color-blue);
}

.reference-list thead,
.reference-list tfoot {
    font-size: 1.125rem;
}

.reference-list tr {
    overflow-wrap: break-word;
    text-align: left;
}

.reference-list tbody tr:hover {
    background-color: #f7f9fb;
}

.reference-list td,
.reference-list th {
    padding: 1rem;
    vertical-align: middle;
}
.reference-list td,
tfoot th {
    border-top: 1px solid #dee2e6;

}


/**
 *      ========== LAATU ==========
 */

 #laatu .container {
    max-width: 900px;
}

.laatu ul {
    margin: 0;
    padding: 0;
}

.laatu ul li {
    margin: 0.125rem 2rem;
}

.laatu .contents ul {
    margin-bottom: 1rem;
}

.laatu .contents ul li {
    list-style: none;
    margin-left: 0;
    font-size: 1.125rem;
}

.laatu h2, .laatu h3 {
    color: var(--color-blue);
}

.laatu h2 {
    font-size: 2rem;
}

.laatu h3 {
    font-size: 1.25rem;
}

.laatu p {
    font-size: 1.125rem;
    text-align: justify;
    letter-spacing: 0.5px;
}


/* 
 *      ========= FOOTER ==========
 */
footer {
    color: #fff;
    background: linear-gradient(to bottom,#68943a, #0d7b1f);
    font-family: sans-serif;
}

.footer {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    color: #ffF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    margin-bottom: 0.25rem;
    list-style: none;
    font-size: 1rem;
}

.footer ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}

.footer ul li a:hover {
    opacity: 1;
    font-size: 1.125rem;
}

.foot1, .foot2, .foot3 {
    flex: 0 0 33%;
    text-align: center;
    opacity: 0.75;
}

/* ========= FOOTER 1 ========== */
.foot1 img {
    opacity: 0.7;
}

.foot1 ul {
    margin-top: 1rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    opacity: 0.7;
}


/* ========= FOOTER 2 ========== */
.foot2 ul li a {
    display: inline-flex;
}

.icon-wrapper {
    height: 18px;
    width: 18px;
    margin-right: 0.625rem;
}

.icon {
    fill: #fff;
    width: 100%;
    height: 100%;
}

/* ========= FOOTER 3 ========== */


/* ========= COPYRIGHT ========== */
.copyright {
    text-align: center;
    padding: 2em 0;
    opacity: 0.75;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}




/**
 *      ========== MEDIA QUERIES ========== 
 */

@media screen and (max-width: 1200px) {
    /* ========== GENERAL ========== */
    .container {
        padding: 0 1rem;
    }
    
    /* ========== PALVELUT ========== */
    .palvelu {
        padding: 1rem;
    }
}

@media screen and (max-width: 1048px) {
    /* ========== HEADER ========== */
    .toggle-button,
    .close-button {
        display: flex;
    }

    .header ul {
        position: fixed;
        background: #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 1010;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header ul.show {
        display: flex;
    }

    .header ul li {
        margin: 1rem 0;
    }
    
    .header ul li a {
        font-size: 1.625rem;
    }
}

@media screen and (max-width: 901px) {
    /* ========== PALVELUT ========== */
    .palvelu {
        flex: 0 0 50%;
        width: 50%;
        padding: 1rem;
    }

    /* ========== VUOKRATTAVAT TILAT ========== */
    .rent_space__images {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 701px) {
    /* ========== GENERAL ========== */
    .title {
        font-size: 2.625rem;
    }

    .subtitle {
        font-size: 1.625rem;
    }

    /* ========== FOOTER ========== */
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer h3 {
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    .footer ul li {
        font-size: 1.125rem;
    }

    .foot1, .foot2, .foot3 {
        width: 100%;
    }

    .foot1 {
        margin-bottom: 1.75rem;
    }
    
    .foot2 {
        margin-bottom: 1.375rem;
    }

    .foot2 h3 {
        margin-bottom: 1.25rem;
    }

    .foot2 ul li {
        margin-bottom: 1rem;
    }

    .footer ul li a {
        justify-content: center;
        align-items: center;
    }
    
    .icon-wrapper {
        height: 40px;
        width: 40px;
        padding: 0.5rem 0.75rem;
        border-radius: 5px;
        background-image: linear-gradient(to right, #050c31, #102173);
    }
}

/* MOBILE */
@media screen and (max-width: 657px) {
    /* ========== HENKILÃ–T ========== */
    .henkilot {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }
    
    .staffmember {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
    }
    
    /* ========== PALVELUT ========== */
    .palvelut {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .palvelu {
        flex: 0 0 100%;
        width: 100%;
        max-width: 400px;
        padding: 0;
        margin-bottom: 2rem;
    }
    
}

/* ========== MOBILE SMALL ========== */
@media screen and (max-width: 510px) {
    /* ========== VUOKRATTAVAT TILAT ========== */
    .rent_space__images {
        grid-template-columns: 1fr;
    }

    /* ========== REFERENSSIT ========== */
    .refence-table-wrapper {
        overflow-x: scroll;
    }
}
